/* .matn {
  background-color: red;
}

.stil {
  background-color: greenyellow;
  font-size: 16px;
  color: white;
  font-family: sans-serif;
}

.active {
  border: 5px solid blue;
}

.card {
  width: 200px;
  height: 100px;
  background-color: red;
  border: 5px solid blue;
} */

/* homework 2 */
/* .box {
  height: 100px;
  width: 200px;
  background-color: green;
}

.style {
  height: 100px;
  width: 200px;
  background-color: red;
} */

/* homework 3 */
/* .sir {
  opacity: 0;
} */

/* .chop {
  opacity: 0.5;
} */
