* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* .matn {
  background-color: red;
}

.stil {
  background-color: greenyellow;
  font-size: 16px;
  color: white;
  font-family: sans-serif;
}

.active {
  border: 5px solid blue;
}

.card {
  width: 200px;
  height: 100px;
  background-color: red;
  border: 5px solid blue;
} */

/* homework 2 */
/* .box {
  height: 100px;
  width: 200px;
  background-color: green;
}

.style {
  height: 100px;
  width: 200px;
  background-color: red;
} */

/* homework 3 */
/* .sir {
  opacity: 0;
} */

/* .chop {
  opacity: 0.5;
} */

.container {
  width: 600px;
  margin: 0 auto;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.box {
  background-color: #fff;
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 50px;
}

.avatar {
  width: 170px;
}

.fName {
  font-size: 30px;
  margin: 30px 0 5px 0;
}

.userName {
  font-size: 22px;
}

.city {
  font-size: 25px;
  margin: 30px 0 5px 0;
}

.zipCode {
  font-size: 25px;
}

.website {
  margin-top: 30px;
}
